#goog-gt-tt {
    display: none !important;
}

.goog-te-banner-frame {
    display: none !important;
}

.goog-te-menu-value:hover {
    text-decoration: none !important;
}

body {
    top: 0 !important;
}

#google_translate_element2 {
    display: none !important;
}

.lg {
    width: 125px;
    height: 25px;
    margin-top: 5px;
}

.skiptranslate {
    display: none;
}

* {
    box-sizing: border-box;
}

.riki-fab-wrapper {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
}

.riki-fab-checkbox {
    display: none;
}

.riki-fab {
    position: absolute;
    bottom: 0rem;
    right: -2rem;
    width: 2rem;
    height: 2rem;
    background: url('https://avatars.githubusercontent.com/u/74826952?s=400&u=739e5c3ffbc84b39ec9a93ea2214fe2227b19e95&v=4') center;
    background-size: cover;
    border-radius: 50%;

    transition: all 0.3s ease;
    z-index: 1;
    border-bottom-right-radius: 6px;
    border: 1px solid #c9c9c9;
}

.riki-fab-checkbox:checked~.riki-fab:before {
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    background-color: rgba(211, 211, 211, 0.541);
}

.riki-fab-wheel {
    position: absolute;
    color: black;
    bottom: 0;
    right: 0;
    width: 10rem;
    height: 10rem;
    transition: all 0.3s ease;
    transform-origin: bottom right;
    transform: scale(0);
}

.riki-fab-checkbox:checked~.riki-fab-wheel {
    transform: scale(1);
}

.riki-fab-action {
    bottom: 0;
    border-radius: 6px;
    position: absolute;
    background: #ffffff;
    font-size: 14px;
    width: 8rem;
    height: 2rem;
    display: flex;
    color: black;
    justify-content: end;
    transition: all 1s ease;

}

.riki-ab-checkbox:checked~.riki-fab-wheel .riki-fab-action {
    color: rgb(0, 0, 0);
}

.riki-fab-action:hover {
    color: rgb(255, 255, 255);
}

.riki-fab-wheel .riki-fab-action-2 {
    padding-left: 1rem;
    color: #000;
    padding-right: 1rem;
    border: 1px solid rgba(63, 63, 63, 0.541);
    right: -2rem;
    bottom: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}